$font-color:#2B3137;
$opacity:0.6;
$border-color:#c8c8c8;
$bg-black:#24292e;
$sp:600px;

@mixin sp{
    @media screen and(max-width:($sp)){
        @content;
    }
}

body{
    font-family:sans-serif;
    font-size:14.4px;
    line-height:1.4;
    color:$font-color;
    margin:0;
}